# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_IPFS_GATEWAY=https://ipfs.io/ipfs/

# Blockchain Configuration
NEXT_PUBLIC_CHAIN_ID=1337
NEXT_PUBLIC_RPC_URL=http://localhost:8545

# Contract Addresses
NEXT_PUBLIC_BSD_TOKEN_ADDRESS=
NEXT_PUBLIC_MUSIC_NFT_ADDRESS=
NEXT_PUBLIC_STREAMING_ACCESS_ADDRESS=
NEXT_PUBLIC_MARKETPLACE_ADDRESS=
